@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

footer{
  text-align: center;
  
}

body {
  background-color: #f8f9fa;
}


.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-outline-secondary {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-secondary img {
  margin-right: 10px;
}
